@import "tailwindcss";

html{
  font-size: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
};

body {
  margin: 0;
  position: relative;
  z-index: 0;
};

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Pattern/pattern-white.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1;
};

p, span, div, li, a, td{
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
};
a {
  text-decoration: none;
};

td{
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}
h1 {
  font-size: clamp(1.8rem, 4vw, 3.2rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.5rem, 3.2vw, 2.6rem);
  line-height: 1.15;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  line-height: 1.2;
}

h4 {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  line-height: 1.25;
}

h5 {
  font-size: clamp(1rem, 1.6vw, 1.3rem);
  line-height: 1.3;
}

h6 {
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  line-height: 1.3;
}

p {
  font-size: clamp(0.85rem, 1.2vw, 1rem);
  line-height: 1.6;
}

small {
  font-size: clamp(0.75rem, 1vw, 0.85rem);
}
