@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
};

body {
  margin: 0;
  position: relative;
  z-index: 0;
};

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Pattern/pattern-white.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
};

p, span, div, li, a, td{
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
};
a {
  text-decoration: none;
};

td{
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}

.bg-pattern1 {

}