@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
};

body {
  margin: 0;
};

h1, h2, h3, h4, h5, h6{
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
};

p, span, div, li, a, td{
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
};
a {
  text-decoration: none;
};

td{
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}